.nyc_output
.vscode
/coverage
build/browser/types/
build/main/types/
build/module/types/
docs/
check_publish_env.js
/node_modules
/src
/test
/typings
.eslintignore
.eslintrc
.gitignore
.npmignore
.mocharc.json
.nycrc.json
.settings
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
register.js
rollup.config.js
tsconfig.json
tsconfig.main.json
tsconfig.module.json
tslint.json
typedoc.json
